.input {
    background-color: #eee;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 60px;
    margin-bottom: 80px;
    border-width: 1px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 0.6fr 0.4fr;
    justify-content: center;
    align-items: center;
}

.input-first, .input-second {
    margin-top: 15px;
    margin-bottom: 15px;
}

.meta-data {
    margin-left: 15px;
    margin-right: 15px;
    display: inline;
}

.config-grid {
    display: grid;
    grid-template-columns: 0.3fr 0.4fr 0.3fr;
    column-gap: 0px;
    row-gap: 0px;
  }

.image-row {
    display: grid;
    grid-template-columns: 0.3fr 0.4fr 0.3fr;
}

.n-combine,.s-combine {
    width: 150px;
    height: 20px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.n-flow,.s-flow {
    width: 22px;
    height: 20px;
    margin-left: 12px;
    margin-right: 12px;
}

.n-flow-t,.s-flow-t {
    width: 22px;
    height: 20px;
    margin-left: 12px;
    margin-right: 12px;
    border-color: red;
}

.n-flow-b,.s-flow-b {
    width: 22px;
    height: 20px;
    margin-left: 12px;
    margin-right: 12px;
    border-color: purple;
}

.n-contain,.s-contain {
    margin-left: 21px;
    margin-right: 21px;
}

.n-contain-t,.s-contain-t {
    margin-left: 21px;
    margin-right: 21px;
    border-color: red;
}

.n-contain-b,.s-contain-b {
    margin-left: 21px;
    margin-right: 21px;
    border-color: purple;
}

.west {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.east {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.e-combine,.w-combine {
    width: 150px;
    height: 20px;
}

.e-flow,.w-flow {
    width: 22px;
    height: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 5px;
    margin-right: 5px;
}

.e-flow-t,.w-flow-t {
    width: 22px;
    height: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 5px;
    margin-right: 5px;
    border-color: red;
}

.e-flow-b,.w-flow-b {
    width: 22px;
    height: 20px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 5px;
    margin-right: 5px;
    border-color: purple;
}

.e-contain,.w-contain {
    margin-top: 15px;
    margin-bottom: 15px;
}

.standard-fig {
    width: 100%;
    height: auto;
    min-width: 600px;
}

.bus {
    margin-top: 40px;
    margin-bottom: 20px;
    background-color: #eee;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-width: 1px;
}

.next {
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: right;
}

.nextstep {
    height: 40px;
    width: 80px;
    margin-right: 20%;
}

.next-title {
    background-color: lightblue;
    width: 40%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    margin-bottom: 20px;
}

.input-text{
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

.input-name {
    width: 40px;
    margin-left: 5px;
    margin-right: 5px;  
    margin-top: 5px;
    margin-bottom: 5px;  
}

.name-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 30%;
    gap: 10px;
}

.authorize {
    width: 150px;
    margin-left:5px;
    margin-top: 10px;
}

.details {
    display: flex;
    justify-content: space-between;
    width: 40%;
    margin: 0 auto;
    margin-top: 15px;
  }
  
.checkbox {
margin-right: 10px;
}